<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="/static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 <body>
  <header>
   <div>
   Example Site
   </div>
   <nav>
    <a href="/">Home</a>
    &nbsp
    <a href="/post1.html">Post 1</a>
    &nbsp
    <a href="/post2.html">Post 2</a>
   </nav>
  </header>
  <main>
